*{
/*  border:1px solid red;*/
}
html, body {
  height: 100%;
  padding: 0;
  background-color: #333333 !important;
}
body{
  color:silver;
}
.info{
  color:silver;
}
.mapArea{
width:100vw;
height: 100vh;
overflow: hidden;
}
#snowmap {
  width:100%;
  height: 100%;
}
.icon{
  width:30px;
  vertical-align: middle;
  padding: 1%;
}
.title{
  color: white;
}
#search{
  font-size: 16px;
  box-shadow: 1px 1px .5px .5px silver;
}
#pano {
  width: 250px;
  height: 250px;
}

.peaks{
  padding:0;
  overflow: scroll;
  height:400px;
  overflow-x: hidden;
}
.peaks-list:hover{
  font-weight: bold;
  color:rgb(176, 176, 176);
  background-color: rgba(214, 214, 214, 0.04);
  cursor: pointer;
}
/*styling the scrollbar*/
.peaks::-webkit-scrollbar {
    width: 4px;
    background-color:grey;
    padding-right: 2%;
    border-radius: 20px;
}

.peaks::-webkit-scrollbar-track {
    -webkit-box-shadow: outset 0 0 1px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.peaks::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: outset 0 0 6px rgba(0,0,0,0.5);
    background-color: silver;
}
/*to overlay the buttons on the map.*/
.mapOverlay {
  position: fixed;
  top: 10px;
  left: 40%;
  z-index: 7;
}
.carousel-img{
  width:500px;
  height: 500px;
}
.btn-modal{
  background-color: #333333;
  color:silver;
}
.btn-modal:hover{
  color:#333333;
  background-color: silver;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
  background-color: rgba(51,51,51,0.5);
  text-align: center;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
}

#mapError{
  padding-top:150px;
  padding-left:30px;
  font-size:30px
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
