
html, body {
  height: 100%;
  padding: 0;
  background-color: #333333 !important;
}
body{
  color:silver;
}
#sidebar{
background-color: rgba(51,51,51,0.5);
padding:0 !important;
text-align: center;
}
.mapArea{
padding: 0 !important;
}
#snowmap {
  width:100%;
  height: 635px;
}
.icon{
  width:30px;
  vertical-align: middle;
  padding: 1%;
}
.title{
  color: white;
}
#info{
padding:1.2%;
color: white;
}
#search{
  font-size: 16px;
  box-shadow: 1px 1px .5px .5px silver;
}
#pano {
  width: 250px;
  height: 250px;
}

.peaks{
  padding:0;
  overflow: scroll;
  height:400px;
  overflow-x: hidden;
}
/*styleing the scrollbar*/
.peaks::-webkit-scrollbar {
    width: 4px;
    background-color:grey;
    padding-right: 2%;
    border-radius: 20px;
}

.peaks::-webkit-scrollbar-track {
    -webkit-box-shadow: outset 0 0 1px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.peaks::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: outset 0 0 6px rgba(0,0,0,0.5);
    background-color: silver;
}
.mapOverlay {
  position: fixed;
  top: 10px;
  left: 40%;
  z-index: 7;
}
.peaks-list:hover{
  font-weight: bold;
  color:rgb(176, 176, 176);
  background-color: rgba(214, 214, 214, 0.04);
  cursor: pointer;
}
#infowindow{
color:#333333;
margin: 0;
overflow: hidden;
}
.menu-icon{
  position: absolute;
  z-index: 5;
  color:#333333;
  background-color: rgba(0,0,0,0);
  left: 1%;
  top:10px;
}
.modal-img-carousel{
  width:100%;
  height:100%;
}
.modal-street-view{
  width:100%;
  height: 100%;
}
.carousel-img{
  width:500px;
  height: 500px;
}
